In [1]:
from google.colab import drive
drive.mount('/content/drive')

Mounted at /content/drive

In [2]:
file_path = '/content/drive/MyDrive/hw/causal/chicago-police/' # change this
# df = pd.read_csv(file_path)

In [3]:
import pandas as pd


# Load the datasets
complaints_allegation = pd.read_csv(file_path + 'complaints-allegation.csv')
officers = pd.read_csv(file_path + 'final-profiles.csv')
salary = pd.read_csv(file_path + 'salary_2002-2017_2017-09.csv')
salary_ranks = pd.read_csv(file_path + 'salary-ranks_2002-2017_2017-09.csv')

# Merge the DataFrames on the UID columns
# The 'left_on' corresponds to the column in complaints-accused, and 'right_on' is the column in final-profiles.
# merged_data = pd.merge(complaints, officers, left_on='link_UID', right_on='link_UID', how='left')

# Print the first few rows of the merged data to verify the merge
# print(merged_data.head())

# Optionally, save the merged data to a new CSV file for further analysis or reporting
# merged_data.to_csv('merged_complaints_officers.csv', index=False)

<ipython-input-3-c6972bc4cb00>:5: DtypeWarning: Columns (16,18,22) have mixed types. Specify dtype option on import or set low_memory=False.
  complaints_allegation = pd.read_csv(file_path + 'complaints-allegation.csv')
<ipython-input-3-c6972bc4cb00>:6: DtypeWarning: Columns (4,15) have mixed types. Specify dtype option on import or set low_memory=False.
  officers = pd.read_csv(file_path + 'final-profiles.csv')

In [4]:
salary_ranks.columns

Index(['UID', 'pay_grade', 'rank', 'salary', 'year', 'spp_date',
       'cleaned_rank', 'link_UID'],
      dtype='object')

In [5]:
complaints_allegation.columns

Index(['row_id', 'complaints-accused_2000-2018_2018-03_ID', 'cr_id',
       'accusation_id', 'allegation_category', 'allegation_category_code',
       'current_investigator_category', 'current_investigator_category_code',
       'unit', 'unit_detail', 'accused_arrested', 'duty_status', 'injured',
       'final_finding', 'finding_narrative', 'penalty_id', 'penalty_code',
       'number_of_days', 'final_finding_narrative', 'star', 'rank',
       'final_finding_USE', 'final_outcome_USE', 'merge', 'UID', 'link_UID'],
      dtype='object')

In [6]:

merged_data_1 = pd.merge(salary_ranks, complaints_allegation, left_on='link_UID', right_on='link_UID', how='left')

merged_data = pd.merge(merged_data_1, officers, left_on='link_UID', right_on='link_UID', how='left')

In [7]:
merged_data.head(3)

,UID_x,pay_grade,rank_x,salary,year,spp_date,cleaned_rank_x,link_UID,row_id,complaints-accused_2000-2018_2018-03_ID,...,appointed_date,resignation_date,current_status,current_star,current_unit,current_rank,start_date,org_hire_date,profile_count,cleaned_rank_y
0,100011.0,E|3,SERGEANT,101442.0,2016.0,2016-02-01,SERGEANT,3978.0,64070.0,8113.0,...,2004-11-29,NaN,1.0,1140.0,8.0,SERGEANT OF POLICE,2004-11-29,2004-11-29,13,SERGEANT
1,100011.0,E|3,SERGEANT,101442.0,2016.0,2016-02-01,SERGEANT,3978.0,64203.0,8113.0,...,2004-11-29,NaN,1.0,1140.0,8.0,SERGEANT OF POLICE,2004-11-29,2004-11-29,13,SERGEANT
2,100011.0,E|3,SERGEANT,101442.0,2016.0,2016-02-01,SERGEANT,3978.0,64204.0,8113.0,...,2004-11-29,NaN,1.0,1140.0,8.0,SERGEANT OF POLICE,2004-11-29,2004-11-29,13,SERGEANT

In [8]:
merged_data.columns

Index(['UID_x', 'pay_grade', 'rank_x', 'salary', 'year', 'spp_date',
       'cleaned_rank_x', 'link_UID', 'row_id',
       'complaints-accused_2000-2018_2018-03_ID', 'cr_id', 'accusation_id',
       'allegation_category', 'allegation_category_code',
       'current_investigator_category', 'current_investigator_category_code',
       'unit', 'unit_detail', 'accused_arrested', 'duty_status', 'injured',
       'final_finding', 'finding_narrative', 'penalty_id', 'penalty_code',
       'number_of_days', 'final_finding_narrative', 'star', 'rank_y',
       'final_finding_USE', 'final_outcome_USE', 'merge', 'UID_y', 'UID',
       'first_name', 'last_name', 'middle_initial', 'middle_initial2',
       'suffix_name', 'birth_year', 'race', 'gender', 'appointed_date',
       'resignation_date', 'current_status', 'current_star', 'current_unit',
       'current_rank', 'start_date', 'org_hire_date', 'profile_count',
       'cleaned_rank_y'],
      dtype='object')

In [37]:
selected_columns = merged_data[['link_UID', 'race','gender','birth_year','salary', 'appointed_date', 'cleaned_rank_x','allegation_category','final_finding','penalty_code','number_of_days']]
selected_columns.sample(n=10)

,link_UID,race,gender,birth_year,salary,appointed_date,cleaned_rank_x,allegation_category,final_finding,penalty_code,number_of_days
1010677,8762.0,WHITE,MALE,1971.0,64662.0,1996-12-02,POLICE OFFICER,MISUSE OF DEPARTMENT RECORDS,UNFOUNDED,NaN,NaN
713331,16824.0,WHITE,FEMALE,1955.0,89718.0,1995-12-04,POLICE OFFICER,NaN,NaN,NaN,NaN
29814,9583.0,HISPANIC,MALE,1963.0,80724.0,1996-05-06,POLICE OFFICER,EXCESSIVE FORCE / ON DUTY - INJURY,NOT SUSTAINED,NaN,NaN
458656,22692.0,WHITE,MALE,1973.0,92778.0,1998-05-26,SERGEANT,MISCELLANEOUS,SUSTAINED,SUSPENSION,5.0
715276,650.0,BLACK,MALE,1965.0,89130.0,1997-07-07,POLICE OFFICER,FALSE,SUSTAINED,SUSPENSION,30.0
192299,9741.0,BLACK,MALE,1975.0,86142.0,2004-09-27,POLICE OFFICER,PROPER CARE - INJURY / DEATH,SUSTAINED,SUSPENSION,20.0
531249,10239.0,HISPANIC,MALE,1965.0,103932.0,1991-12-02,DETECTIVE,EXCESSIVE FORCE / OFF DUTY - NO INJURY,NOT SUSTAINED,NaN,NaN
87319,2666.0,HISPANIC,MALE,1978.0,68994.0,2013-02-19,POLICE OFFICER,ILLEGAL ARREST / FALSE ARREST,EXONERATED,NaN,NaN
484261,20610.0,ASIAN/PACIFIC ISLANDER,MALE,1971.0,86520.0,1999-10-25,POLICE OFFICER,"RACIAL / ETHNIC, ETC.",NOT SUSTAINED,NaN,NaN
928761,22622.0,HISPANIC,MALE,1971.0,80724.0,1995-06-05,POLICE OFFICER,FAILURE TO IDENTIFY,NOT SUSTAINED,NaN,NaN

# Finding the complaint outcomes

In [29]:
outcome_counts = merged_data['final_finding'].value_counts(dropna=False)
outcome_counts.head(5)
# no penalty = not punished at all

final_finding
NOT SUSTAINED    522438
UNFOUNDED        281641
SUSTAINED        248586
NaN              103220
EXONERATED        44324
Name: count, dtype: int64

# Finding the penalty outcomes

In [13]:
penalty_counts = merged_data['penalty_code'].value_counts()
penalty_counts.head(5)

penalty_code
SUSPENSION              266196
SEPARATION               33317
REPRIMAND                30990
VIOLATION NOTED          17648
WORK REGULAR DAY OFF       120
Name: count, dtype: int64

# Finding each of the unique ranks and the average salary for each

In [14]:
average_salary_by_cleaned_rank = merged_data.groupby('cleaned_rank_x')['salary'].mean()
print(average_salary_by_cleaned_rank)

# You can also sort it
# average_salary_by_cleaned_rank_sorted = average_salary_by_cleaned_rank.sort_values(ascending=False)
# print(average_salary_by_cleaned_rank_sorted)

cleaned_rank_x
ASSISTANT SUPERINTENDENT           180981.000000
CAPTAIN                            134891.152941
CHIEF                              171558.592320
CIVILIAN                           131423.387755
COMMANDER                          145242.150355
DEPUTY CHIEF                       154133.273159
DEPUTY SUPERINTENDENT              154424.328358
DETECTIVE                           84573.199795
FIELD TRAINING OFFICER              78085.163996
FIRST DEPUTY SUPERINTENDENT        178790.888889
GENERAL COUNSEL                    143630.210526
INVESTIGATOR                        66913.966423
LIEUTENANT                         121986.094715
POLICE OFFICER                      71793.794864
SERGEANT                            93035.690763
SUPERINTENDENT'S CHIEF OF STAFF    158337.000000
Name: salary, dtype: float64

In [15]:
average_salary_by_rank = merged_data.groupby('rank_y')['salary'].mean()
average_salary_by_rank

# the cleaned_rank definitely works better

rank_y
ASST DEPUTY SUP         126030.000000
CAPTAIN OF POLICE       126635.938356
CHIEF                   132631.500000
COMMANDER               118636.029630
CROSSING GUARD           70483.500000
DEP CHIEF               152322.923077
DEPUTY SUPT.            138033.333333
DETENTION AIDE           69071.181818
EXPL TECH 1              87144.000000
FIRST DEPUTY SUPT.      149076.000000
LIEUTENANT OF POLICE     92339.034135
MACHINIST AUTO           79693.125000
P O ASSGN SEC SPEC       76324.084034
PO (PER ARB AWARD)       82814.025641
PO AS DETECTIVE          81221.915128
PO ASGN EVID. TECHNI     76838.222222
PO ASGN GANG CRMS SP     83648.963979
PO ASGN LATEN F/P EX     72468.000000
PO ASSG CANINE HANDL     73066.959677
PO ASSGN TRAFF SPEC      78449.059126
PO ASSIGN YOUTH OFF      83985.675676
PO LEGAL OFF 1           83845.875000
PO LEGAL OFF 2          100827.272727
PO/EXP DET CAN HAND      74512.664835
PO/FIELD TRNING OFF      76631.444201
PO/MARINE OFFICER        78153.129856
PO/MOUNTED PAT OFF.      78055.500000
POL FORENSIC INV I       88127.177419
POLICE AGENT             79637.250000
POLICE COMM OPER 2       81631.875000
POLICE OFFICER           73063.805776
PRINC METHOD ANALYST     78414.375000
SERGEANT OF POLICE       87892.465213
Name: salary, dtype: float64

# Draft

In [16]:
num_days = merged_data['number_of_days'].value_counts()
num_days.head(5)

number_of_days
5.0     36255
30.0    33488
1.0     26933
3.0     26086
15.0    24602
Name: count, dtype: int64

In [17]:
allegation_category = merged_data['allegation_category'].value_counts()
allegation_category.head(5)

allegation_category
MISCELLANEOUS                         202064
EXCESSIVE FORCE / ON DUTY - INJURY     91177
USE OF PROFANITY                       71759
PUSH/PULL/GRAB                         50303
CLOSED HAND STRIKE (PUNCH)             43370
Name: count, dtype: int64

In [18]:
penalty_code = merged_data['penalty_code'].value_counts(dropna=False) # don't drop NaNs, they probably mean no penalty
penalty_code.head(5)

penalty_code
NaN                861267
SUSPENSION         266196
SEPARATION          33317
REPRIMAND           30990
VIOLATION NOTED     17648
Name: count, dtype: int64

In [19]:
filtered_No_Penalty= merged_data[merged_data['final_finding_narrative'] == 'FINAL- No Penalty']['penalty_code']

# This one is checking: if the final finding narrative is final-no penalty, their penalty code should be NaN
print(filtered_No_Penalty)
print(filtered_No_Penalty.isna().all())
print(filtered_No_Penalty.shape[0])

19         NaN
23         NaN
24         NaN
25         NaN
27         NaN
          ...
1209035    NaN
1209036    NaN
1209037    NaN
1209038    NaN
1209039    NaN
Name: penalty_code, Length: 188404, dtype: object
True
188404

In [21]:
filtered_INITIAL= merged_data[merged_data['final_finding_narrative'] == 'INITIAL']['penalty_code']

# This one is checking: if the final finding narrative is initial, their penalty code could vary a lot
print(filtered_INITIAL)
print((filtered_INITIAL=='SUSPENSION').all())
non_suspension_data = filtered_INITIAL[filtered_INITIAL != "SUSPENSION"]
print(non_suspension_data)

164        SUSPENSION
174        SUSPENSION
289        SUSPENSION
290        SUSPENSION
291        SUSPENSION
              ...
1208122    SUSPENSION
1208132    SUSPENSION
1208142    SUSPENSION
1208152    SUSPENSION
1208162    SUSPENSION
Name: penalty_code, Length: 40581, dtype: object
False
506         REPRIMAND
1019       SEPARATION
1020       SEPARATION
1021       SEPARATION
1025       SEPARATION
              ...
1201708     REPRIMAND
1201723     REPRIMAND
1201738     REPRIMAND
1201753     REPRIMAND
1201768     REPRIMAND
Name: penalty_code, Length: 9103, dtype: object

In [ ]:
# Load the datasets
# complaints = pd.read_csv(file_path + 'complaints-accused.csv')


# Merge the DataFrames on the UID columns
# The 'left_on' corresponds to the column in complaints-accused, and 'right_on' is the column in final-profiles.
# merged_salary_data = pd.merge(salary, officers, left_on='link_UID', right_on='link_UID', how='left')
# merged_salary_rank_data = pd.merge(salary_ranks, officers, left_on='link_UID', right_on='link_UID', how='left')
# Print the first few rows of the merged data to verify the merge
# print(merged_salary_rank_data.head())

# Optionally, save the merged data to a new CSV file for further analysis or reporting
# merged_data.to_csv('merged_complaints_officers.csv', index=False)